body {
    background: #FFF;
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;font-weight: light;
    font-weight: 100;
}

.loginWrapper {
display: block;
position: relative;
width: 350px;
text-align: center;	
margin: auto;
right: 0;
left: 0;
margin-top: 60px;
margin-bottom: 60px;
z-index: 1000;
transition: box-shadow 1s;
}

.logginFormFooter {
text-align: center;
color: #777;
width: 100%;
font-size: 12px;
position: fixed;
bottom: 10px;
}

.logginFormFooter a       {color: #777; font-weight: 600;}
.logginFormFooter a:hover {color: #AAA;}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

nav {
z-index: 9;
color: #FFF;
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 0;
text-align: center;
}

.tabs {
display: table;
table-layout: fixed;
width: 100%;
-webkit-transform: translateY(5px);
transform: translateY(5px);
}

.tabs > li {
transition-duration: .25s;
display: table-cell;
list-style: none;
text-align: center;
padding: 20px 20px 25px 20px;
position: relative;
overflow: hidden;
cursor: pointer;
color: #666;
background-color: none;

}
.tabs > li:before {
z-index: -1;
position: absolute;
content: "";
width: 100%;
height: 120%;
color: #FFF;  
top: 0;
left: 0;
 background-color: #DDD;
-webkit-transform: translateY(100%);
transform: translateY(100%);
transition-duration: .25s;
border-radius: 8px 8px 0 0;
}

.tabs > li:hover:before {
-webkit-transform: translateY(70%);
transform: translateY(70%);
}
.tabs > li.active {
color: #FFF;
}
.tabs > li.active:before {
transition-duration: .5s;
 background-color: #444;
-webkit-transform: translateY(0);
transform: translateY(0);
}

.tab__content {
background-color: white;
position: relative;
width: 100%;
border-radius: 5px 5px 0px 0px;
 background-color: #444;
-webkit-box-shadow: 0px 12px 34px -8px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 12px 34px -8px rgba(0,0,0,0.28);
box-shadow: 0px 12px 34px -8px rgba(0,0,0,0.28);

}
.tab__content > li {
width: 100%;
position: absolute;
border-radius: 5px;
color: #FFF;
top: 0;
left: 0;
background-color: #444;
display: none;
list-style: none;
}
.tab__content > li .content__wrapper {
text-align: center;
border-radius: 5px;
padding-top: 24px;
background-color: #444;
}


form input {
    border: none;
    padding: 12px;
    background: #EEE;
    font-size: 16px;
    margin: 12px 0px;
    width: 300px;
    font-weight: 100;
    outline: none;
}

form input:first-child {margin-top: 8px;}
form input:last-child {margin-top: 16px; margin-bottom: 0px;}

form input:focus {background-color: #FFF;}
form input:hover {background-color: #FFF;}
form input:placeholder {color: blue;}

form [type="submit"]:focus,
form [type="submit"]:hover {background: #009CEF;}

form [type="submit"] {
    background: #3399DD;
    color: #FFF;
    padding: 24px;
    width: 100%;
    cursor: pointer;
}

::-webkit-input-placeholder {color: #DDD;}
:-moz-placeholder           {color: #DDD;}
::-moz-placeholder          {color: #DDD;}
:-ms-input-placeholder      {color: #DDD;}

/*html, body {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);

    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
#content_container {
    width: 30%;
    height: 70%;
}

#form_container {
    width: 100%;
    height: 100%;

    background-color: #370617;
    box-shadow: 0 0 50px -20px #000;
    border-radius: 2%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    border-bottom: 1px solid transparent;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 20;
    background: #000;
}

#form_header {
    display: inline-block;
    font-size: 15px;
    font-family: Bowlby One SC;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;


    background: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;

    float: left;

}

input {
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 20px;

    background: #000;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 12px;

    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 1;
}

#button_container {
    width: 100%;
    height: 10%;

    background-image: linear-gradient(80deg, #FFBE0B, #FB5607 50%, #FF006E 50%, #8338EC);
    color: #fff;

    float: left;

    margin-top: 5px;
}

#button_container button {
    width: 50%;
    height: 100%;
    float: left;

    background: transparent;
    color: inherit;

    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

*/
